<!DOCTYPE html>
    <head>
        <title>Assist</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="lib/jquery/dist/jquery.js"></script>
        <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="lib/angular/angular.js"></script>
        <script src="lib/angular-resource/angular-resource.js"></script>
        <script src="js/lb-services.js"></script>
        <link href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>

        

        <div class="main" ng-app="myItems" ng-controller="myItemsController">

            <div class="container">
                <h2>Pendaftaran Poly</h2>
                <form action="/action_page.php">
                  <div class="form-group">
                    <label for="email">Nama Pasien</label>
                    <input type="text" class="form-control" id="no_hp" placeholder="Enter Nama Pasien" name="email">
                  </div>
                  <div class="form-group">
                    <label for="email">No HP</label>
                    <input type="text" class="form-control" id="no_hp" placeholder="Enter No HP" name="no_hp">
                  </div>
                  <div class="form-group">
                    <label for="email">Pilih Poly</label>
                    <select class="form-control" id="sel1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                    <input type="text" class="form-control" id="no_hp" placeholder="Enter No HP" name="no_hp">
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>

            <h1>item list</h1>
            <div class="addItem">
                <input ng-model="newItem" placeholder="Add Item" class="addText">
                <button ng-click="pushItem()">Add</button>
            </div>
            <ul ng-repeat="i in items">
                {{i.name}}
                <span ng-click="deleteItem($index)">x</span>
            </ul>
        </div>
        <script src="js/app.js"></script>
    </body>
</html>