<!DOCTYPE html>
    <head>
        <title>Assist</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="lib/jquery/dist/jquery.js"></script>
        <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="lib/angular/angular.js"></script>
        <script src="lib/angular-resource/angular-resource.js"></script>
        <script src="js/lb-services.js"></script>
        <link href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>

        
    <div class="container">
        <div class="main" ng-app="myJadwal_dokters" ng-controller="myJadwal_DokterController">
            <h1>Jadwal Dokter</h1>
            <div class="addPoly form-group">
                <input ng-model="newdokter" placeholder="Add Nama Dokter" class="addText form-control">
                
            </div>
            <div class="addPoly form-group">
                <input ng-model="newHari" placeholder="Add Hari" class="addText form-control">
                
            </div>
            <div class="addPoly form-group">
                <input ng-model="newJam" placeholder="Add Jam" class="addText form-control">
                
            </div>
            <div class="addPoly form-group">
                <button ng-click="pushJadwal_dokter()" class="btn btn-primary">Add</button>
            </div>
            <div class="form-group">
                <ul>
                    <table class="table">
                        <tr >
                            <th>nama Dokter</th>
                            <th>Hari</th>
                            <th>Jam</th>
                            <th>Aksi</th>
                        </tr>
                        <tr  ng-repeat="i in jadwal_dokters">
                            <td>
                                {{i.dokter}}
                            </td>
                            <td>
                                {{i.hari}}
                            </td>
                            <td>
                                {{i.jam}}
                            </td>
                            <td> <button ng-click="deleteJadwal_dokter($index)" class="btn btn-danger">Delete</button>

                            </td>
                        </tr>
                    </table>
                   
                </ul>
            </div>
            
        </div>
    </div>
    <script src="js/app.js"></script>
    </body>
</html>