<!DOCTYPE html>
    <head>
        <title>Assist</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="lib/jquery/dist/jquery.js"></script>
        <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="lib/angular/angular.js"></script>
        <script src="lib/angular-resource/angular-resource.js"></script>
        <script src="js/lb-services.js"></script>
        <link href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    </head>
    <body>

        
    <div class="container">
        <div class="main" ng-app="myRegiss" ng-controller="myRegisController">
            <h1>Registrasi Poly</h1>
            <div class="addPoly form-group">
                <input ng-model="newnama" placeholder="Add Nama Pasien" class="addText form-control">
            </div>
            <div class="addPoly form-group">
                <select   ng-model="newdokter" class="form-control "  placeholder="Add Nama Dokter"  id="sel1">
                    <option id="id_dokter{{i.dokter}}" ng-repeat="i in dokters" value="{{i.id}}">{{i.dokter}} | {{i.hari}} {{i.jam}}</option>
                </select>
            </div>
            <div class="addPoly form-group">
                <select   ng-model="newpoly" class="form-control "  placeholder="Add Poly"  id="sel1">
                    <option ng-repeat="i in polys" value="{{i.nama_poly}}">{{i.nama_poly}}</option>
                </select>
            </div>
            <div class="addPoly form-group">
                <button ng-click="pushRegis()" class="btn btn-primary">Add</button>
            </div>
            <div class="form-group">
                <ul>
                    <table class="table">
                        <tr >
                            <th>nama Pasien</th>
                            <th>nama Dokter</th>
                            <th>Hari</th>
                            <th>Jam</th>
                            <th>Aksi</th>
                        </tr>

                        <tr  ng-repeat="i in regiss">
                            <td>
                                {{i.nama}}
                            </td>
                            <td>
                                {{i.dokter}}
                            </td>
                            <td>
                                {{i.hari}}
                            </td>
                            <td>
                                {{i.jam}}
                            </td>
                            <td> <button  ng-click="deleteRegis($index)" class="btn btn-danger">Delete</button>

                            </td>
                        </tr>
                    </table>
                   
                </ul>
            </div>
            
        </div>
    </div>
    <script src="js/app.js"></script>
    </body>
</html>